{% extends 'base.html' %}


{% block content %}


<h2 class="text-center">Header</h2>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse">
                <i class="fas fa-bars    "></i>
            </button>
            <div class="navbar-collapse collapse" id="navCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item "><a href="#" class="nav-link active"> Home </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Menu </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Contact </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Page </a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-mdb-toggle="dropdown"  id="navbarDropdown"> Blogs </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item">Lorem, ipsum dolor.</li>
                            <li class="dropdown-item">Ducimus, necessitatibus ut!</li>
                            <li class="dropdown-item">Voluptas, dolores atque?</li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-item">Pariatur, sequi ex?</li>
                            <li class="dropdown-item">Pariatur, sequi ex?</li>
                            <li class="dropdown-item">Pariatur, sequi ex?</li>
                        </ul>
                    </li>
                </ul>

            </div>
           
        </div>
    </nav>
</header>

{% endblock content %}