{% extends 'base.html' %}


{% block content %}


<h2 class="text-center">Header</h2>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse">
                <i class="fas fa-bars    "></i>
            </button>
            <div class="navbar-collapse collapse" id="navCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item "><a href="#" class="nav-link active"> Home </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Menu </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Contact </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"> Page </a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-mdb-toggle="dropdown"  id="navbarDropdown"> Blogs </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item">Lorem, ipsum dolor.</li>
                            <li class="dropdown-item">Ducimus, necessitatibus ut!</li>
                            <li class="dropdown-item">Voluptas, dolores atque?</li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-item">Pariatur, sequi ex?</li>
                            <li class="dropdown-item">Pariatur, sequi ex?</li>
                            <li class="dropdown-item">Pariatur, sequi ex?</li>
                        </ul>
                    </li>
                </ul>

            </div>
           
        </div>
    </nav>
</header>


<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Navbar</a>
            <button class="navbar-toggler" data-mdb-target="#nav2Collapse" data-mdb-toggle="collapse">
                <i class="fas fa-bars    "></i>
            </button>
            <div class="navbar-collapse collapse " id="nav2Collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="#" class="nav-link active">Lorem.</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Odio.</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Nulla.</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Expedita!</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Explicabo.</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-mdb-toggle="dropdown">
                            Dropdown1
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item">Lorem ipsum dolor sit amet.</li>
                            <li class="dropdown-item">Ex minima aspernatur laborum fugit.</li>
                            <li class="dropdown-item">Nostrum ratione necessitatibus quaerat harum.</li>
                            <li class="dropdown-item">Suscipit voluptate odio repudiandae qui!</li>
                            <li class="dropdown-item">Cupiditate sit iste facere dignissimos.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img style="height: 70px;" src="https://image.shutterstock.com/image-vector/dots-letter-c-logo-design-260nw-551769190.jpg" alt="">
            </a>
            <form action="" class="d-flex">
                <input type="search" class="form-control me-2" placeholder="Search here...">
                <button type="submit" class="btn btn-outline-light">
                    Submit
                </button>
            </form>
            <button class="navbar-toggler" data-mdb-toggle="collapse" data-mdb-target="#collapse3">
                <i class="fas fa-bars    "></i>
            </button>
            <div class="navbar-collapse collapse" id="collapse3">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Lorem.</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Unde!</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Ex.</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Nihil.</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" data-mdb-toggle="dropdown" class="nav-link dropdown-toggle">
                            Dropdown1
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li class="dropdown-item"><a href="#">Lorem.</a></li>
                            <li class="dropdown-item"><a href="#">Cupiditate.</a></li>
                            <li class="dropdown-item"><a href="#">Quam?</a></li>
                            <li class="dropdown-item"><a href="#">Quibusdam!</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<main>
    {% include './create.html' %}
    <br>
    {% include './read.html' %}
</main>

 <!-- Start of REVE Chat Script-->
 <script type='text/javascript'>
    window.$_REVECHAT_API || (function(d, w) { var r = $_REVECHAT_API = function(c) {r._.push(c);}; w.__revechat_account='4101768';w.__revechat_version=2;
      r._= []; var rc = d.createElement('script'); rc.type = 'text/javascript'; rc.async = true; rc.setAttribute('charset', 'utf-8');
      rc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'static.revechat.com/widget/scripts/new-livechat.js?'+new Date().getTime();
      var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(rc, s);
    })(document, window);
   </script>
   <!-- End of REVE Chat Script -->
{% endblock content %}